body {
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 1.6;
  background-image: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
}
.container {
  width: 700px;
  margin: auto;
  overflow: hidden;
}
header {
  background: #ff9933;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  margin: 0;
  border-bottom: #ffb366 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #ffd700;
  font-weight: bold;
}
header a:hover {
  color: #ffffff;
  font-weight: bold;
  background-color: #333;
}
.feature-box {
  background: #ffdab9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
footer {
  background-color: #ff9933;
  border-radius: 10px;
  padding: 20px 50px;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.contact-form button {
  background: #ff9933;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  color: #ffffff;
  text-align: center;
}

.rubik-uniquifier {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
video {
  border-radius: 20px;
}
